
.border-left-thin {
  border-left: 2px solid #eee;
}

.border-right-thin {
  border-right: 2px solid #eee;
}

.border-bottom-thin {
  border-bottom: 2px solid #eee;
}

.border-bottom-bold {
  border-bottom: 4px solid rgb(97, 96, 96);
}

.font-grey {
  color: rgb(167, 156, 156);
}
